archive/
data_archive/
data_DB/
output_log/
output/
output_rapport_pdf/
output_preparation/
functions/*_cache/
functions/*_files/
data_new/



sig/

.Rproj.user
.Rhistory
*.html
*.r~

*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip
*.log
*.tex
*.toc
*.lof
*.aux


.#*
#*#

my*


functions/.#fun_mainSTOCreporting_latin1.r
functions/rmd_stoc_reporting_utf8.knit.md
functions/rmd_stoc_reporting_utf8.tex
functions/rmd_stoc_reporting_utf8.utf8.md
functions/rmd_stoc_reporting_utf8.log
*.rmd#
*.lyr
*.sbn
library/tnc_terr_ecoregions.sbx
*.xml
*.csv
*.cpg
