archive/
data_archive/
data_DB/
output_log/
output/
output_rapport_pdf/
output_preparation/




sig/

.Rproj.user
.Rhistory
*.html
*.r~

*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip

my*


